.Hero1Container{
    height: 90vh;
}
.HeroCaption h3{
    font-size: 3em;
    color: #e3e3e3;
    margin-left: -10em;
    margin-bottom: 0em;
}.HeroCaption1 h3{
    font-size: 3em;
    color: #e3e3e3;
    margin-left: 0em;
    margin-bottom: 0em;
}.HeroCaption2 button{
    margin-bottom: 13em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    text-decoration: none;
}
.imgHero1{
    object-fit: contain;
    object-position: center;
    height: max-content;
    width: 100%;
}
.fix-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@media (max-width: 1100px ){

    .HeroCaption h3{
        font-size: 2em;
        color: #e3e3e3;
        margin-left: 0em;
        margin-bottom: 0em;
    }

}
@media (max-width: 680px ){
    .Hero1Container{
        height: fit-content;
    }
    .HeroCaption h3{
        font-size: 1.3em;
        color: #e3e3e3;
        margin-left: 0em;
        margin-bottom: 0em;
    }

}
