.Hero1Container{
    height: 80vh;
    width: 100%;
    margin: 0 auto;
}
.HeroCaption{
    display: flex;
    flex-direction: column;
    gap: 2em
}
.HeroCaption h3{
    font-size: 3em;
    color: #e3e3e3;
    margin-left: -10em;
    margin-bottom: 0em;
    font-variant: small-caps;
}.HeroCaption h3{
    font-size: 3em;
    color: #e3e3e3;
    margin-left: 0em;
    margin-bottom: 0em;
}
.imgHero1{
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    width: 100%;
    filter:contrast(0.8);
    filter: brightness(0.8);
}
.lasth3{
    text-align: center;
}
@media (max-width: 1200px ){
    .Hero1Container{
        height: 70vh
    }
    .HeroCaption h3{
        font-size: 2em;
        margin-left: 0em;
        margin-bottom: 0em;
    }
}
@media (max-width: 1000px ){
    .Hero1Container{
        height: 35vh
    }
    .HeroCaption h3{
        font-size: 1.9em;
    }
}
@media (max-width: 720px ){
    .Hero1Container{
        height: 40vh
    }
    .HeroCaption h3{
        font-size: 1em;
        color: #e3e3e3;
        margin-left: 0em;
        margin-bottom: 0em;
    }.slide .carousel-control-prev,.slide .carousel-control-next{
        display: none;
    }

}
@media screen and (max-width: 550px) {
    .Hero1Container{
        height: 26vh
    }
    
}

