.Hero1Container{
    height: 90vh;
    width: 100%;
}
.HeroCaption{
    display: flex;
    flex-direction: column;
    gap: 2em
}
.HeroCaption h3{
    font-size: 3em;
    color: #e3e3e3;
    margin-left: -10em;
    margin-bottom: 0em;
}.HeroCaption h3{
    font-size: 3em;
    color: #e3e3e3;
    margin-left: 0em;
    margin-bottom: 0em;
}
.imgHero1{
    object-fit: contain;
    object-position: center;
    height: max-content;
    width: 100%;
    filter:contrast(0.8);
    filter: brightness(0.8);
}

@media (max-width: 1200px ){

    .HeroCaption h3{
        font-size: 2em;
        color: #e3e3e3;
        margin-left: 0em;
        margin-bottom: 0em;
    }

}
@media (max-width: 680px ){
    .Hero1Container{
        height: 80vh
    }
    .HeroCaption h3{
        font-size: 1em;
        color: #e3e3e3;
        margin-left: 0em;
        margin-bottom: 0em;
    }.slide .carousel-control-prev,.slide .carousel-control-next{
        display: none;
    }

}
