
.productCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 360px;
    margin-bottom: 2em;
}
.imgProduct{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s;
    min-height: 360px;
    cursor: pointer;
}.imgProduct:hover{
    scale: 1.015;
    filter: drop-shadow(0 0 1px #FE9426);
}
.cardInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3em;
    padding-top: .3em;
}
.namePrice h4{
    margin: 0 0;
    font-size: 1em;
    
}
.namePrice{
    display: flex;
    flex-direction: column;
    gap: .3em;
    padding: .3em;
}

@media screen and (max-width: 768px) {
    .productCardContainer{
        width: 100%;
        height: 100%;
    }
    .imgProduct{
        min-height: 100%;
    }
    .namePrice{
        margin-top: .3em;
    }
    .namePrice h4{
        font-size: 1.2em;
    }.namePrice span{
        font-size: 1em;
    }
    
    
}