.adminContainer{
    width: 60%;
    margin: 0 auto;
}
.adminForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;

}
form{
    color: rgb(255, 255, 255);
    gap: 0.5em;
}
.form-group{
    display: flex;
    
}
.stock{
    height: 1em;
    width: 1em;
}