.productsContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 3em auto;
    width: 90%;
    color: azure;
}.productsContainer h2{
    border-bottom: 1px solid azure;
    font-variant: small-caps;

}
.ProductList{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    
}